**/*.log
**/*.copyarea.db
**/*.keep
**/target/
**/*.contrib*
*.class
*.war
**/.classpath
**/.project
**/.DS_Store
**/.settings/*
**/generated/*
/build/
.gradle/
**/bin/
**/libs/
.idea/
*.iml
*.iws
/.sonar_lock
/bin/
**/output/
